extends layout/base
block title
  | Bibliothèque Medias
block content
  .container
    .row
      a(href="/books").text-danger.col-auto
        .card.mo-category-card.p-5.rounded
          h2 Livres
